@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }
  body.hidden {
    overflow-y: hidden; }
  body.active-pop-up {
    overflow: hidden; }

button {
  outline: 0;
  cursor: pointer; }

*::selection {
  background: #ffdf32;
  /* Цвет фона */ }

.container {
  width: 1205px;
  margin: 0 auto; }

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  background: #fff;
  box-sizing: border-box; }
  header .header-logo {
    width: 180px;
    height: 65px;
    background: url(../img/BitProtect_logo.svg) center center/contain no-repeat; }
  header .btn-menu {
    display: none;
    z-index: 999; }
  header .menu-block {
    height: 100%; }
    header .menu-block div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%; }
  header .main-menu {
    display: flex;
    height: 100%;
    align-items: center; }
    header .main-menu li {
      position: relative;
      list-style: none;
      height: 100%;
      line-height: 89px; }
      header .main-menu li:after {
        position: absolute;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 35px;
        height: 35px;
        content: '';
        border: 6px solid #fff;
        box-sizing: border-box;
        background: url(../img/bitcoin.svg) center center/cover no-repeat;
        border-radius: 50%;
        opacity: 0;
        transition: opacity .3s linear; }
      header .main-menu li:hover::after {
        opacity: 1; }
      header .main-menu li a {
        display: block;
        padding: 0 1.2vw;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #272727;
        letter-spacing: -0.4px;
        margin-top: 11px;
        height: calc(100% - 11px); }
  header .profile-link {
    display: flex;
    margin-left: 3.1vw; }
    header .profile-link li {
      list-style: none;
      padding: 15px 35px;
      border: 1px solid #ffdf32;
      border-radius: 25px;
      margin: 0 5px; }
      header .profile-link li a {
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #272727; }
    header .profile-link .registration {
      background: #ffdf32;
      margin-right: 125px; }
    header .profile-link .lang {
      position: absolute;
      right: 35px;
      padding: 15px 0;
      transition: all 0.5s linear;
      background: #fff;
      width: 105px;
      text-align: center; }
      header .profile-link .lang ul {
        border-top: 0;
        padding: 15px 0 5px 0;
        display: none; }
        header .profile-link .lang ul li {
          padding: 5px 0;
          margin: 0;
          border: none; }
          header .profile-link .lang ul li a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 65%;
            margin: 0 auto;
            font-size: 13px; }
            header .profile-link .lang ul li a span {
              padding: 0  0 0 11px; }
          header .profile-link .lang ul li span.flag {
            display: inline-block;
            width: 30px;
            max-width: 30px;
            height: 20px;
            padding: 0;
            background: url("../img/rus.svg") center center/cover no-repeat; }
            header .profile-link .lang ul li span.flag.eng {
              background: url("../img/eng.svg") center center/cover no-repeat; }
            header .profile-link .lang ul li span.flag.esp {
              background: url("../img/esp.svg") center center/cover no-repeat; }
            header .profile-link .lang ul li span.flag.ita {
              background: url("../img/ita.svg") center center/cover no-repeat; }
            header .profile-link .lang ul li span.flag.china {
              background: url("../img/china.svg") center center/cover no-repeat; }
            header .profile-link .lang ul li span.flag.fra {
              background: url("../img/fra.svg") center center/cover no-repeat; }

.video-section {
  position: relative; }
  .video-section .border-block {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px dashed #9899ef; }
  .video-section .text {
    width: 100%;
    top: 4vh;
    position: absolute; }
  .video-section .play, .video-section .pause {
    width: 75px;
    height: 75px;
    background: #fff5c2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 222;
    cursor: pointer;
    transition: all 0.3s linear; }
    .video-section .play span, .video-section .pause span {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
      .video-section .play span:after, .video-section .pause span:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s linear;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #9899ef; }
      .video-section .play span.play:after, .video-section .pause span.play:after {
        content: '\f04b'; }
      .video-section .play span.pause:after, .video-section .pause span.pause:after {
        content: '\f04c'; }
  .video-section .pause {
    visibility: hidden;
    opacity: 0; }
    .video-section .pause.visible {
      visibility: visible;
      opacity: 1; }
  .video-section video {
    margin-top: -5px;
    width: calc(100% + 2px);
    margin-left: -1px;
    z-index: -1; }
  .video-section h1, .video-section h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #393838;
    font-size: 36px;
    text-align: center; }
  .video-section h1 {
    padding: 0 0 15px;
    letter-spacing: 0; }
  .video-section h2 {
    color: #510572;
    font-size: 28px; }

.title-block, .sub-title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 41px;
  color: #393838; }

.sub-title {
  font-size: 30px;
  color: #510572; }

.target {
  padding-top: 4.95vw;
  margin-top: -7px;
  position: relative;
  z-index: 33;
  background: #fff; }
  .target h2 {
    margin-bottom: 2.9vw;
    letter-spacing: 0;
    z-index: 99;
    position: relative; }
  .target .main-content {
    position: relative; }
    .target .main-content .top-content, .target .main-content .bottom-content {
      position: inherit;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
  .target .top-content {
    z-index: 2; }
    .target .top-content div {
      width: 50%; }
    .target .top-content .content-text {
      width: 35%; }
    .target .top-content svg {
      width: 100%; }
    .target .top-content .logo-gerb-overlay {
      position: relative;
      margin-top: -10px; }
      .target .top-content .logo-gerb-overlay .logo-gerb {
        width: 36%;
        height: 23%;
        position: absolute;
        bottom: -22%;
        left: -12%;
        transform: translate(-20%, -50%);
        margin: 0; }
  .target .bottom-content {
    margin-top: 41px; }
    .target .bottom-content div {
      width: 45%; }
    .target .bottom-content .content-text {
      width: 38%;
      margin-top: 40px; }
      .target .bottom-content .content-text p {
        line-height: 1.6; }
  .target .content-text {
    margin: 0 30px;
    box-sizing: border-box; }
    .target .content-text ul {
      margin-bottom: 25px; }
      .target .content-text ul li {
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        color: #464646;
        padding-left: 20px;
        list-style: none;
        margin-bottom: 6px;
        line-height: 1.5; }
    .target .content-text h3 {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #464646;
      margin: 11px 0 10px;
      line-height: 1.5; }
    .target .content-text p {
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      color: #464646;
      margin: 15px 0;
      margin: 25px 0;
      line-height: 1.4; }

.orange-overlay {
  position: relative; }
  .orange-overlay .orange-block {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-48%);
    width: 46%;
    height: 1200px;
    z-index: 0;
    background: linear-gradient(to left, #fff5bf, #fffbe3);
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 65%); }

.violet-overlay {
  position: relative; }
  .violet-overlay .violet-block {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-47%);
    width: 47%;
    height: 1200px;
    z-index: 0;
    background: linear-gradient(to right, #f2eaff, #fbf9ff);
    clip-path: polygon(0 0, 100% 41%, 100% 61%, 0 100%); }

.registration-block {
  position: relative;
  padding: 7.8vw 0 6vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .registration-block h2 {
    margin-bottom: 25px;
    letter-spacing: 0.2px; }
  .registration-block h3 {
    margin-bottom: 30px;
    letter-spacing: 0.2px; }
  .registration-block button {
    padding: 28px 61px;
    background: #ffdf32;
    border: none;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #272727;
    border-radius: 35px;
    margin: 0 auto;
    letter-spacing: 0.2px; }

.services {
  position: relative;
  z-index: 2; }
  .services h2 {
    margin-top: 6px;
    letter-spacing: -0.5px; }
  .services .collection {
    padding: 80px 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .services .collection .collection-el {
      width: calc(100% / 3);
      margin-bottom: 50px; }
      .services .collection .collection-el div {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        background: radial-gradient(#ffffff, rgba(255, 255, 255, 0)), #ffdf32; }
        .services .collection .collection-el div svg {
          width: 70%;
          height: 70%;
          margin: 15%; }
      .services .collection .collection-el p {
        padding: 0 2.9vw;
        color: #464646;
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0px;
        text-align: center;
        margin: 15px 0;
        line-height: 1.3; }

.advantages {
  position: relative;
  padding-top: 32vw;
  margin-top: -20vw;
  z-index: 1;
  background: linear-gradient(35deg, #fbf9ff, #f2eaff); }
  .advantages .left-bottom, .advantages .right-bottom {
    position: absolute;
    width: 50%;
    height: 42vw;
    background: #fff;
    bottom: -1px; }
  .advantages .left-bottom {
    left: 0;
    clip-path: polygon(0 32%, 0% 100%, 100% 100%); }
  .advantages .right-bottom {
    right: 0;
    clip-path: polygon(100% 33%, 0% 100%, 100% 100%); }
  .advantages .top-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vw;
    background: #fff;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    margin-top: -2px; }
  .advantages h2 {
    margin-bottom: 21px; }
  .advantages h3 {
    margin-bottom: 28px;
    letter-spacing: 0.1px; }
  .advantages .advantages-overlay {
    width: 54%;
    margin: 0 0 0 23%; }
  .advantages .start-now {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.32vw 5.32vw 4.15vw;
    margin-top: -0.65vw;
    background: url(../img/bonus_back.svg) center center no-repeat;
    z-index: 3; }
    .advantages .start-now h2 {
      font-size: 30px;
      font-family: "Rubik", sans-serif;
      color: #510572;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
      margin-top: 19px;
      letter-spacing: -0.3px; }
    .advantages .start-now a {
      text-decoration: none;
      font-size: 20px;
      font-family: "Rubik", sans-serif;
      color: #272727;
      background: #ffdf32;
      padding: 25px 61px;
      border-radius: 35px;
      letter-spacing: 0.5px; }
  .advantages .advantages-collection {
    position: relative; }
  .advantages .advantages-el {
    display: flex;
    align-items: center;
    position: absolute;
    max-width: 235px; }
    .advantages .advantages-el .mob-pic {
      display: none;
      min-width: 120px;
      width: 120px;
      height: 120px;
      margin-right: 45px; }
    .advantages .advantages-el .text-opacity {
      visibility: hidden; }
    .advantages .advantages-el h4, .advantages .advantages-el p {
      font-family: "Rubik", sans-serif;
      color: #272727;
      font-size: 16px;
      font-weight: 400; }
    .advantages .advantages-el h4 {
      font-weight: 500;
      font-size: 18px;
      color: #510572;
      margin-bottom: 4px;
      letter-spacing: -0px; }
    .advantages .advantages-el p {
      line-height: 1.45;
      letter-spacing: 0.1px; }
    .advantages .advantages-el.el1 h4, .advantages .advantages-el.el1 p, .advantages .advantages-el.el2 h4, .advantages .advantages-el.el2 p, .advantages .advantages-el.el3 h4, .advantages .advantages-el.el3 p {
      text-align: right; }
    .advantages .advantages-el.el1 {
      top: 53px;
      left: 85px; }
    .advantages .advantages-el.el2 {
      top: 52%;
      left: 9px;
      transform: translateY(-50%); }
    .advantages .advantages-el.el3 {
      bottom: 16px;
      left: 85px; }
    .advantages .advantages-el.el4 {
      top: 60px;
      right: 90px; }
    .advantages .advantages-el.el5 {
      top: 51%;
      right: 14px;
      transform: translateY(-50%); }
    .advantages .advantages-el.el6 {
      bottom: 17px;
      right: 90px; }

.pic1, .pic2, .pic3 {
  border-radius: 50%;
  background: url(../img/pic1.png) center center/contain no-repeat; }

.pic2 {
  background: url(../img/pic2.jpg) center center/cover no-repeat; }

.pic3 {
  background: url(../img/pic3.jpg) center center/cover no-repeat; }

.slider-nav {
  margin: 0 -3.4vw; }
  .slider-nav .slick-slide {
    outline: 0; }
    .slider-nav .slick-slide:focus {
      outline: 0; }
    .slider-nav .slick-slide .flexible {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 180px;
      outline: 0; }
      .slider-nav .slick-slide .flexible:active {
        outline: 0; }
      .slider-nav .slick-slide .flexible div {
        position: relative;
        top: 36px;
        width: 105px;
        height: 105px;
        transition: all .4s linear;
        filter: grayscale(1) blur(0.8px); }
    .slider-nav .slick-slide.slick-center .flexible div {
      top: 0;
      border: 1px solid #e1c0f0;
      box-shadow: 0 0 0 7px #fff inset;
      transform: scale(1.68);
      filter: grayscale(0); }

.slider-main {
  padding-bottom: 80px;
  padding-top: 150px; }
  .slider-main .title-block {
    margin-bottom: 58px;
    padding: 0 16vw;
    letter-spacing: -0.5px; }
  .slider-main .slick-prev, .slider-main .slick-next {
    z-index: 999;
    top: 56%;
    height: 25px; }
  .slider-main .slick-prev {
    left: 23%;
    width: 18%;
    outline: none; }
    .slider-main .slick-prev:before {
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/arrow1.svg) center center no-repeat; }
  .slider-main .slick-next {
    right: 23%;
    width: 18%;
    outline: none; }
    .slider-main .slick-next:before {
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/arrow2.svg) center center no-repeat; }

.slider-for {
  max-width: 620px;
  margin: 0 auto;
  text-align: center; }
  .slider-for h2, .slider-for p, .slider-for h3, .slider-for span {
    display: block;
    font-family: "Rubik", sans-serif;
    color: #464646; }
  .slider-for h2 {
    font-weight: 300;
    font-size: 24px;
    margin: 15px 0;
    letter-spacing: 0px; }
  .slider-for p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.5; }
  .slider-for h3 {
    font-size: 24px;
    color: #510572;
    font-weight: 500;
    margin-bottom: 5px; }
  .slider-for span {
    font-weight: 400;
    font-size: 13px;
    color: #510572; }

.question {
  position: relative;
  padding: 80px 0 35px; }
  .question .orange-block {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to left, #fff5bf, #fffbe3);
    clip-path: polygon(0 31%, 24% 0, 100% 100%, 0% 100%); }
  .question .container {
    width: 550px;
    box-sizing: border-box;
    z-index: 1; }
    .question .container h2 {
      margin-bottom: 36px; }

form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  form div {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  form div.input-overlay {
    position: relative;
    width: calc((100% - 10px) / 2);
    display: flex;
    flex-direction: column; }
    form div.input-overlay label {
      position: absolute;
      bottom: 8px;
      left: 10px;
      font-size: 14px;
      font-family: "Rubik", sans-serif;
      color: red; }
    form div.input-overlay:first-child {
      margin-right: 10px; }
  form div.textarea-overlay {
    width: 100%; }
  form input.error, form textarea.error {
    margin-bottom: 35px;
    border-color: rgba(255, 0, 0, 0.6); }
  form input {
    width: 100%;
    padding: 18px 20px 25px;
    border: 1px solid transparent;
    background: #fff;
    margin-bottom: 15px;
    font-family: "Rubik", sans-serif;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
    border-radius: 4px;
    box-shadow: 0 7px 10px rgba(152, 152, 239, 0.18);
    outline: 0;
    transition: all .1s linear;
    box-sizing: border-box; }
    form input:focus {
      outline: 0;
      box-shadow: 0 -3px 0 0 rgba(152, 152, 239, 0.35); }
  form textarea {
    padding: 25px 20px;
    width: 100%;
    margin-bottom: 33px;
    height: 140px;
    border: 1px solid transparent;
    font-family: "Rubik", sans-serif;
    color: #272727;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: -0.1px;
    border-radius: 4px;
    box-shadow: 0 7px 10px rgba(152, 152, 239, 0.18);
    outline: 0; }
    form textarea:focus {
      outline: 0;
      box-shadow: 0 -3px 0 0 rgba(152, 152, 239, 0.35); }
  form button {
    display: inline-block;
    font-family: "Rubik", sans-serif;
    color: #272727;
    font-weight: 400;
    font-size: 16px;
    padding: 25px 75px;
    background: #ffdf32;
    border-radius: 35px;
    border: none;
    margin-bottom: 34px; }
  form p {
    font-family: "Rubik", sans-serif;
    color: #272727;
    font-size: 30px;
    font-weight: 500; }

.start-using {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px 30px;
  background: #afb0ea; }
  .start-using p {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    color: #fff;
    font-weight: 500; }
  .start-using a {
    display: inline-block;
    font-family: "Rubik", sans-serif;
    color: #272727;
    font-weight: 500;
    font-size: 20px;
    padding: 25px 60px;
    background: #ffdf32;
    text-decoration: none;
    border-radius: 35px;
    margin-left: 20px;
    cursor: pointer; }

footer {
  background: #9d9ed2; }
  footer p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 25px 30px; }

.advantages .start-now a:hover, .registration-block button:hover, .start-using a:hover, form button:hover, header .profile-link .registration:hover {
  background: #ffcf31; }

header .profile-link li.login:hover {
  background: #ffc130; }

.pop-up-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(76, 77, 195, 0.6);
  z-index: 999; }
  .pop-up-overlay.active {
    display: block; }
  .pop-up-overlay .pop-up {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    border-radius: 10px;
    padding: 55px 0;
    max-width: 550px; }
    .pop-up-overlay .pop-up .close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 999; }
      .pop-up-overlay .pop-up .close div {
        position: relative;
        transform: rotate(-45deg); }
        .pop-up-overlay .pop-up .close div p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #272727; }
        .pop-up-overlay .pop-up .close div p:first-child {
          width: 20px;
          height: 2px; }
        .pop-up-overlay .pop-up .close div p:last-child {
          height: 20px;
          width: 2px; }
    .pop-up-overlay .pop-up .logo {
      width: 260px;
      height: 100px;
      background: url(../img/BitProtect_logo.svg) center center/contain no-repeat;
      margin: 0 auto;
      margin-bottom: 35px; }
    .pop-up-overlay .pop-up h3 {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px; }
    .pop-up-overlay .pop-up form input {
      width: 60%; }
    .pop-up-overlay .pop-up form button {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 500;
      padding: 25px 65px; }
    .pop-up-overlay .pop-up form input:first-child {
      margin-right: 0; }

@media only screen and (max-width: 1650px) {
  header .profile-link li {
    padding: 15px 30px; }
  .advantages {
    padding-top: 35vw;
    margin-top: -17vw; }
  header .main-menu li a {
    padding: 0 7px; }
  header .profile-link {
    margin-left: 20px; } }

@media only screen and (max-width: 1400px) {
  .container {
    width: 960px; }
  .target .top-content svg {
    margin-top: 35%; }
  .target .top-content .content-text {
    width: 40%; }
  .target .bottom-content .content-text {
    width: 42%; }
  .video-section h1, .title-block, .start-using p {
    font-size: 29px; }
  .video-section h2, .sub-title, .advantages .start-now h2 {
    font-size: 25px; }
  .registration-block button, .advantages .start-now a, .start-using a {
    padding: 25px 55px;
    font-size: 15px; }
  .advantages .start-now a {
    font-size: 19px; }
  .services .collection .collection-el {
    margin-bottom: 42px; }
  .services .collection .collection-el p {
    font-size: 21px; }
  .advantages .advantages-el.el1 {
    top: 10px;
    left: 10px; }
  .advantages .advantages-el.el2 {
    top: 48%;
    left: -37px; }
  .advantages .advantages-el.el3 {
    left: 10px; }
  .advantages .advantages-el.el4 {
    top: 10px;
    right: 20px; }
  .advantages .advantages-el.el5 {
    right: -38px;
    top: 48%; }
  .advantages .advantages-el.el6 {
    right: 20px; }
  .target .content-text ul {
    margin-bottom: 15px; }
  .target .content-text p {
    margin: 20px 0; }
  .target .top-content .logo-gerb-overlay .logo-gerb {
    width: 31%;
    height: 18%;
    bottom: -18%;
    left: -9%; }
  form button {
    padding: 25px 70px; } }

@media only screen and (min-width: 1355px) and (max-width: 1450px) {
  header .main-menu li {
    display: flex;
    align-items: center; }
    header .main-menu li a {
      font-size: 14px;
      padding: 0 7px;
      height: auto;
      line-height: 1.5;
      text-align: center; }
  header .header-logo {
    width: 160px;
    margin-right: 15px; }
  header .profile-link {
    margin-left: 20px; }
    header .profile-link li {
      padding: 15px 25px; }
      header .profile-link li a {
        font-size: 15px; }
  .services .collection .collection-el div {
    width: 135px;
    height: 135px; } }

@media only screen and (max-width: 1355px) {
  header .menu-block {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    transition: all .3s linear;
    z-index: -1; }
    header .menu-block div {
      display: block; }
    header .menu-block.menu-block-open {
      background: rgba(255, 255, 255, 0.5);
      z-index: 99; }
      header .menu-block.menu-block-open div {
        transform: translateX(0%);
        z-index: 99;
        height: calc(100vh - 100px); }
    header .menu-block .main-menu {
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      height: auto; }
      header .menu-block .main-menu li {
        padding: 15px 30px;
        width: 100%;
        height: auto;
        line-height: 0; }
        header .menu-block .main-menu li:hover:after {
          opacity: 0; }
        header .menu-block .main-menu li a {
          font-size: 18px;
          height: 25px; }
    header .menu-block .profile-link {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin: 0;
      padding: 30px 15px; }
      header .menu-block .profile-link li {
        margin: 0 10px; }
      header .menu-block .profile-link .lang {
        position: inherit;
        margin-top: 10px; }
    header .menu-block div {
      padding-top: 12px;
      width: 40%;
      background: #fff;
      height: 100%;
      transform: translateX(100%);
      transition: all .3s linear;
      position: absolute;
      right: 0; }
  header .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 19px;
    width: 26px;
    margin: 0 0 0 10px;
    cursor: pointer; }
    header .btn-menu p {
      position: absolute;
      top: 0;
      left: 0;
      width: 26px;
      height: 3px;
      background: #272727;
      transition: 0.3s;
      transform-origin: 50% 50%; }
      header .btn-menu p.second {
        top: 8px; }
      header .btn-menu p.third {
        top: 16px; }
    header .btn-menu.active .first {
      top: 8px;
      transform: rotate(45deg); }
    header .btn-menu.active .second {
      opacity: 0; }
    header .btn-menu.active .third {
      top: 8px;
      transform: rotate(-45deg); }
  .registration-block {
    padding: 10vw 0 8vw; } }

@media only screen and (max-width: 1200px) {
  .start-using p, .title-block, .video-section h1 {
    font-size: 33px; }
  .advantages .start-now h2, .sub-title, .video-section h2 {
    font-size: 26px; } }

@media only screen and (max-width: 980px) {
  .container {
    width: 760px; }
  .services .collection {
    justify-content: center; }
  .services .collection .collection-el {
    width: calc(100% / 2); }
  .target .top-content .content-text, .target .bottom-content .content-text {
    margin: 0;
    width: 50%; }
  .target .top-content .logo-gerb-overlay .logo-gerb, .line-hidden {
    display: none; }
  .target .top-content svg {
    margin-top: 50%; }
  .target .bottom-content div {
    margin-top: 17%; }
  .orange-overlay .orange-block, .violet-overlay .violet-block {
    height: 780px; }
  .start-using p, .title-block, .video-section h1 {
    font-size: 31px; }
  .advantages .start-now h2, .sub-title, .video-section h2 {
    font-size: 24px; }
  .services .collection .collection-el div {
    width: 135px;
    height: 135px; }
  .services .collection .collection-el p {
    font-size: 18px; }
  .advantages-collection {
    display: flex;
    flex-direction: column-reverse; }
    .advantages-collection div .advantages-el {
      position: inherit;
      transform: none !important;
      max-width: 100%;
      margin: 20px 0 50px; }
      .advantages-collection div .advantages-el div:last-child {
        margin-top: 15px; }
      .advantages-collection div .advantages-el h4, .advantages-collection div .advantages-el p {
        text-align: left !important; }
    .advantages-collection .advantages-overlay {
      display: none; }
  .advantages .start-now {
    padding: 8vw;
    margin-top: 5vw; }
  .advantages .advantages-el p {
    font-size: 18px; }
  .advantages .advantages-el h4 {
    font-size: 20px; }
  .advantages .advantages-el .mob-pic {
    display: block; } }

.first-service-overflow .notebook, .first-service-overflow .platforme-shadow, .first-service-overflow .man-shadow, .first-service-overflow .platform, .first-service-overflow .man, .first-service-overflow .men, .first-service-overflow .shadow-money, .first-service-overflow .point, .first-service-overflow .line, .first-service-overflow .shadow-point, .first-service-overflow .man-shadow {
  visibility: hidden; }

.second-service-overflow .line, .second-service-overflow .men, .second-service-overflow .shadow-men, .second-service-overflow .center-change, .second-service-overflow .computer, .second-service-overflow .point, .second-service-overflow .platforme-shadow, .second-service-overflow .platforme, .second-service-overflow .line-hidden, .second-service-overflow .shadow-point {
  visibility: hidden; }

.logo-gerb-overlay .logo-center {
  visibility: hidden; }

.advantages-overlay .platforme, .advantages-overlay .platforme-shadow, .advantages-overlay .gerb-shadow, .advantages-overlay .advantages-elem, .advantages-overlay .gerb, .advantages-overlay .line {
  visibility: hidden; }

@media only screen and (max-width: 768px) {
  .container {
    width: 560px; }
  .pop-up-overlay .pop-up {
    padding: 35px 0;
    max-width: 90%; }
    .pop-up-overlay .pop-up form input {
      width: 80%; }
    .pop-up-overlay .pop-up h3 {
      font-size: 27px; }
    .pop-up-overlay .pop-up .logo {
      width: 150px;
      height: 60px; }
  .advantages .advantages-el .text-opacity {
    visibility: visible; }
  .target .main-content .top-content {
    flex-direction: column-reverse; }
  .target .main-content .bottom-content {
    flex-direction: column; }
  .target .bottom-content .content-text, .target .top-content .content-text, .target .top-content .logo-gerb-overlay, .target .bottom-content div {
    width: 100%; }
  .target .top-content svg, .target .bottom-content div {
    margin-top: 50px; }
  .target .bottom-content div {
    margin-bottom: 50px; }
  .orange-overlay .orange-block, .violet-overlay .violet-block {
    height: 800px;
    width: 70%;
    top: 25%; }
  .start-using p, .title-block, .video-section h1 {
    font-size: 27px; }
  .advantages .start-now h2, .sub-title, .video-section h2 {
    font-size: 21px; }
  .registration-block {
    padding: 13vw 0; }
  .question .orange-block {
    width: 97%; }
  .start-using p, .title-block {
    font-size: 23px; }
  .services .collection .collection-el {
    margin-bottom: 35px; }
  header .menu-block div {
    width: 80%; }
  header .menu-block .main-menu {
    height: auto; }
    header .menu-block .main-menu li {
      height: auto;
      line-height: 16px;
      width: 100%;
      padding: 0; }
      header .menu-block .main-menu li a {
        padding: 15px 30px;
        margin: 0;
        height: 100%; }
  header .menu-block div {
    height: calc(100vh - 100px);
    box-sizing: border-box; }
  header .menu-block.menu-block-open {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto; }
    header .menu-block.menu-block-open > div {
      overflow-y: auto; }
  header .menu-block .profile-link {
    padding: 20px 30px; }
  .first-service-overflow .notebook, .first-service-overflow .platforme-shadow, .first-service-overflow .man-shadow, .first-service-overflow .platform, .first-service-overflow .man, .first-service-overflow .men, .first-service-overflow .shadow-money, .first-service-overflow .point, .first-service-overflow .line, .first-service-overflow .shadow-point, .first-service-overflow .man-shadow {
    visibility: visible; }
  .second-service-overflow .line, .second-service-overflow .men, .second-service-overflow .shadow-men, .second-service-overflow .center-change, .second-service-overflow .computer, .second-service-overflow .point, .second-service-overflow .platforme-shadow, .second-service-overflow .platforme, .second-service-overflow .line-hidden, .second-service-overflow .shadow-point {
    visibility: visible; }
  .logo-gerb-overlay .logo-center {
    visibility: visible; }
  .advantages-overlay .platforme, .advantages-overlay .platforme-shadow, .advantages-overlay .gerb-shadow, .advantages-overlay .line, .advantages-overlay .advantages-elem, .advantages-overlay .gerb {
    visibility: visible; }
  .slider-main .slick-prev {
    left: 10px;
    width: 30%;
    height: 45px;
    overflow: hidden; }
  .slider-main .slick-prev:before {
    position: ABSOLUTE;
    width: 150%;
    top: -5px;
    right: -80%; }
  .slider-main .slick-next {
    right: 10px;
    width: 30%;
    height: 45px;
    overflow: hidden; }
  .slider-main .slick-next:before {
    position: absolute;
    width: 150%;
    top: -5px;
    left: -80%; }
  .video-section h1 {
    padding: 0 0 25px; } }

@media only screen and (max-width: 570px) {
  .container {
    width: 90vw; }
  .question .container {
    width: 300px; }
  .start-using {
    flex-direction: column;
    justify-content: center; }
    .start-using p {
      text-align: center;
      margin-bottom: 30px; }
    .start-using a {
      margin: 0; }
  header .menu-block div {
    width: 100%; }
  header .menu-block .profile-link {
    flex-direction: column;
    align-items: flex-start; }
    header .menu-block .profile-link li {
      margin: 10px 0; }
  .orange-overlay .orange-block, .violet-overlay .violet-block {
    height: 600px;
    width: 100%;
    top: 22%; }
  .start-using p, .title-block {
    font-size: 21px; }
  .sub-title, .video-section h2 {
    font-size: 19px; }
  .advantages .start-now h2 {
    font-size: 17px; }
  .advantages .start-now a, .registration-block button, .start-using a {
    padding: 20px 45px; }
  .services .collection .collection-el {
    width: 100%; }
  .services .collection .collection-el div {
    width: 100px;
    height: 100px; }
  .services .collection {
    padding: 50px 0 0; }
  .registration-block {
    padding: 80px 0; }
  .advantages-collection svg {
    width: 100%;
    margin-left: 0%; }
  .advantages .start-now h2 {
    margin: 25px 0 10px 0; }
  .advantages .start-now a {
    padding: 16px 25px;
    margin: 5px 0; }
  .advantages .start-now {
    padding: 7vw 0; }
  .question {
    padding: 60px 0 50px; }
    .question form button {
      padding: 25px 50px;
      margin-bottom: 25px; }
  form p {
    font-size: 26px; }
  form div {
    flex-wrap: wrap; }
    form div input {
      width: 100%; }
      form div input:first-child {
        margin-right: 0; }
  .advantages .advantages-el {
    flex-direction: column;
    justify-content: center; }
  .advantages-collection div .advantages-el .mob-pic {
    margin: 0 0 35px; }
  .advantages-collection div .advantages-el h4, .advantages-collection div .advantages-el p {
    text-align: center !important; }
  .slider-main {
    padding-bottom: 60px;
    padding-top: 100px; }
  header .header-logo {
    width: 160px; } }

@media only screen and (max-width: 440px) {
  .slider-nav .slick-slide .flexible div {
    width: 80px;
    height: 80px; }
  .slider-nav .slick-slide.slick-center .flexible div {
    box-shadow: 0 0 0 5px #fff inset; }
  .slider-main .slick-prev {
    left: -10px; }
  .slider-main .slick-next {
    right: -10px; }
  .slider-main .slick-prev:before {
    position: ABSOLUTE;
    width: 175%;
    top: -5px;
    right: -102%; }
  .slider-main .slick-next:before {
    position: ABSOLUTE;
    width: 175%;
    top: -5px;
    left: -102%; }
  .pop-up-overlay .pop-up {
    padding: 35px 0;
    max-width: 90%; }
    .pop-up-overlay .pop-up form input {
      width: 85%;
      padding: 15px 15px 20px; }
    .pop-up-overlay .pop-up form button {
      width: 85%;
      padding: 20px 0;
      margin: 0 auto;
      text-align: center;
      font-size: 16px; }
    .pop-up-overlay .pop-up h3 {
      font-size: 25px; }
    .pop-up-overlay .pop-up .logo {
      margin-bottom: 30px; } }

@keyframes move-text {
  0% {
    transform: translateY(17%); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-17%); } }

@keyframes bitcoinMove {
  0% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(-2px); } }

@keyframes shadow-money {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-4px); }
  100% {
    transform: translateY(0); } }

@keyframes advantagesElem {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

@keyframes yacht {
  0% {
    opacity: 0; }
  13% {
    opacity: 1; }
  26% {
    opacity: 0; }
  39% {
    opacity: 0; }
  42% {
    opacity: 0; }
  55% {
    opacity: 0; }
  67% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes car {
  0% {
    opacity: 0; }
  13% {
    opacity: 0; }
  26% {
    opacity: 0; }
  39% {
    opacity: 1; }
  42% {
    opacity: 0; }
  55% {
    opacity: 0; }
  67% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes house {
  0% {
    opacity: 0; }
  13% {
    opacity: 0; }
  26% {
    opacity: 0; }
  39% {
    opacity: 0; }
  42% {
    opacity: 0; }
  55% {
    opacity: 1; }
  67% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes money {
  0% {
    opacity: 0; }
  13% {
    opacity: 0; }
  26% {
    opacity: 0; }
  39% {
    opacity: 0; }
  42% {
    opacity: 0; }
  55% {
    opacity: 0; }
  67% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.center-change .yacht {
  animation: yacht 10s infinite ease-in-out; }

.center-change .car {
  animation: car 10s infinite ease-in-out; }

.center-change .house {
  animation: house 10s infinite ease-in-out; }

.center-change .money {
  animation: money 10s infinite ease-in-out; }

.move-text {
  animation: move-text 5s infinite linear; }

.move-text-two {
  transform: translateY(17%);
  animation: move-text 5s 2.5s infinite linear; }

.first-service-overflow .bitcoin {
  animation: bitcoinMove 3s infinite linear; }

.first-service-overflow .shadow-money {
  animation: shadow-money 3s infinite linear; }

.advantages-overlay .advantages-elem.move {
  animation: advantagesElem 3s infinite linear; }

.advantages-overlay .advantages-elem-two.move {
  animation: advantagesElem 3s infinite 2s linear; }
