*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  &.hidden{
    overflow-y: hidden;
  }
  &.active-pop-up{
    overflow: hidden;
  }
}
button{
  outline:0;
  cursor: pointer;
}

$mainColor: #272727;
$orange: #ffdf32;
$violet: #510572;
$mainFont: 'Rubik', sans-serif;


*::selection {
    background: $orange; /* Цвет фона */
   }

.container{
  width: 1205px;
  margin: 0 auto;
}
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  background: #fff;
  box-sizing: border-box;
  .header-logo{
    width: 180px;
    height: 65px;
    background:url(../img/BitProtect_logo.svg) center
    center/contain no-repeat;
  }
  .btn-menu{
    display: none;
    z-index: 999;
  } 
  .menu-block{
    height: 100%;
    div{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
  }
  .main-menu{
    display: flex;
    height: 100%;
    align-items: center;
      li{
        position: relative;
        list-style: none;
        height: 100%;
        line-height: 89px;
        &:after{
          position: absolute;
          bottom: -17px;
          left: 50%;
          transform: translateX(-50%);
          display: inline-block;
          width: 35px;
          height: 35px;
          content: '';
          border: 6px solid #fff;
          box-sizing: border-box;
          background: url(../img/bitcoin.svg) center center/cover no-repeat;
          border-radius: 50%;
          opacity: 0;
          transition: opacity .3s linear;
        }
        &:hover::after{
          opacity: 1;
        }
        a{
          display: block;
          padding: 0 1.2vw;
          text-decoration: none;
          text-transform: uppercase;
          font-family: $mainFont;
          font-weight: 500;
          font-size: 15px;
          color: $mainColor;
          letter-spacing: -0.4px;
          margin-top: 11px;
          height: calc(100% - 11px);
        }
      }
  }
  .profile-link{
    display: flex;
    margin-left: 3.1vw;
    li{
      list-style: none;
      padding: 15px 35px;
      border: 1px solid $orange;
      border-radius: 25px;
      margin: 0 5px;
      a{
        text-decoration: none;
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 400;
        color: $mainColor;
      }
    }
    .registration{
      background: $orange;
      margin-right: 125px;
    }
    .lang{
      position: absolute;
      right: 35px;
      padding: 15px 0;
      transition: all 0.5s linear;
      background: #fff;
      width: 105px;
      text-align: center;
      ul {
        border-top: 0;
        padding: 15px 0 5px 0;
        display: none;
        li{
          padding: 5px 0;
          margin: 0;
          border: none;
          a{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 65%;
            margin: 0 auto;
            font-size: 13px;
            span{
              padding: 0  0 0 11px;
            }
          }
          span.flag{
            display: inline-block;
            width: 30px;
            max-width: 30px;
            height: 20px;
            padding: 0;
            background: url('../img/rus.svg') center center/cover no-repeat;
            &.eng{
             background: url('../img/eng.svg') center center/cover no-repeat;
            }
            &.esp{
             background: url('../img/esp.svg') center center/cover no-repeat;
            }
            &.ita{
             background: url('../img/ita.svg') center center/cover no-repeat;
            }
            &.china{
             background: url('../img/china.svg') center center/cover no-repeat;
            }
            &.fra{
             background: url('../img/fra.svg') center center/cover no-repeat;
            }
            
          }
        }
      }
    }
  }
}
.video-section{
  //height: calc(100vh - 100px);
  //background:  url(../img/zaglushka.jpg) center center/cover no-repeat;
  
  //padding-top: 3.25vw;
  position: relative;
  .border-block{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    //background: red;
    border: 2px dashed #9899ef;
  }
  .text{
    width: 100%;
    top: 4vh;
    position: absolute;
  }
  .play, .pause{
    width: 75px;
    height: 75px;
    background: #fff5c2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 222;
    cursor: pointer;
    transition: all 0.3s linear;
    
    span{
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
      box-shadow: 0 0 12px rgba(0,0,0,0.1);
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s linear;
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        color: #9899ef;
      }
      &.play:after{
        content: '\f04b';
      }
      &.pause:after{
        content: '\f04c';
      }
    }
  }
  .pause{
    visibility: hidden;
    opacity: 0;
    &.visible{
      visibility: visible;
      opacity: 1;
    }
  }
  video{
    margin-top: -5px;
    width: calc(100% + 2px);
    margin-left: -1px;
    z-index: -1;
  }
  h1, h2{
    font-family: $mainFont;
    font-weight: 500;
    color: #393838;
    font-size: 36px;
    text-align: center;
  }
  h1{
    padding: 0 0 15px;
    letter-spacing: 0;
  }
  h2{
    color: $violet;
    font-size: 28px;
  }

}
.title-block, .sub-title{
  font-family: $mainFont;
  font-weight: 500;
  text-align: center;
  font-size: 41px;
  color: #393838;
}
.sub-title{
  font-size: 30px;
  color: $violet;
}
.target{
  padding-top: 4.95vw;
  margin-top: -7px;
  position: relative;
  z-index: 33;
  background: #fff;
  h2{
    margin-bottom: 2.9vw;
    letter-spacing: 0;
    z-index: 99;
    position: relative;
  }
  .main-content{
    position: relative;
    .top-content, .bottom-content{
      position: inherit;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  }
  .top-content{
    z-index: 2;
    div{
      width: 50%;
    }
    .content-text{
      width: 35%;
    }
    svg{
      width: 100%;
    }
    .logo-gerb-overlay{
      position: relative;
      margin-top: -10px;
      .logo-gerb{
      width: 36%;
      height: 23%;
      position: absolute;
      bottom: -22%;
      left: -12%;
      transform: translate(-20%, -50%);
      margin: 0;
      }
    }
    
  }
  .bottom-content{
    margin-top: 41px;
    div{
      width: 45%;
    }
    .content-text{
      width: 38%;
      margin-top: 40px;
      p{
        line-height: 1.6;
      }
    }

  }
  .content-text{
    margin: 0 30px;
    box-sizing: border-box;
    ul{
      margin-bottom: 25px;
      li{
        font-family: $mainFont;
        font-size: 16px;
        color: #464646;
        padding-left: 20px;
        list-style: none; 
        margin-bottom: 6px;
        line-height: 1.5;
        }
    }
    h3{
      font-family: $mainFont;
      font-weight: 500;
      font-size: 16px;
      color: #464646;
      margin: 11px 0 10px;
      line-height: 1.5;
    }
    p{
      font-family: $mainFont;
      font-size: 16px;
      color: #464646;
      margin: 15px 0;
      margin: 25px 0;
      line-height: 1.4;
    }
  }
}

.orange-overlay{
  position: relative;
  .orange-block{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-48%);
    width: 46%;
    height: 1200px;
    z-index: 0;
    background: linear-gradient(to left, #fff5bf,#fffbe3);
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 65%);
  }
}
.violet-overlay{
  position: relative;
  .violet-block{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-47%);
    width: 47%;
    height: 1200px;
    z-index: 0;
    background: linear-gradient(to right, #f2eaff,#fbf9ff);
    clip-path: polygon(0 0, 100% 41%, 100% 61%, 0 100%);    
  }
}

.registration-block{
  position: relative;
  padding: 7.8vw 0 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    margin-bottom: 25px;
    letter-spacing: 0.2px;
  }
  h3{
    margin-bottom: 30px;
    letter-spacing: 0.2px;
  }
  button{
    padding: 28px 61px;
    background: $orange;
    border: none;
    font-family: $mainFont;
    font-weight: 400;
    font-size: 16px;
    color: $mainColor;
    border-radius: 35px;
    margin: 0 auto;
    letter-spacing: 0.2px;
  }
}
.services{
  position: relative;
  z-index: 2;
  h2{
  margin-top: 6px;
  letter-spacing: -0.5px;
  }
  .collection{
    padding: 80px 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .collection-el{
      width: calc(100% / 3);
      margin-bottom: 50px;
      div{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 50%;
        background: radial-gradient(#ffffff, rgba(255,255,255,0)),$orange;
        svg{
          width: 70%;
          height: 70%;
          margin: 15%;
        }
      }
      p{
        padding: 0 2.9vw;
        color: #464646;
        font-family: $mainFont;
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0px;
        text-align: center;
        margin: 15px 0;
        line-height: 1.3;
      }
    }
  }
}

.advantages{
    position:relative;
      padding-top: 32vw;
      margin-top: -20vw;
      z-index: 1;
      background: linear-gradient(35deg, #fbf9ff, #f2eaff);
      .left-bottom, .right-bottom{
        position: absolute;
        width: 50%;
        height: 42vw;
        background: #fff;
        bottom: -1px;

      }
      .left-bottom{
        left: 0;
        clip-path: polygon(0 32%, 0% 100%, 100% 100%);
      }
      .right-bottom{
        right: 0;
        clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
      }
      .top-center{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30vw;
        background: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        margin-top: -2px;
      }
  h2{
    margin-bottom: 21px;
  }
  h3{
    margin-bottom: 28px;
    letter-spacing: 0.1px;
  }
  .advantages-overlay{
        width: 54%;
        margin: 0 0 0 23%;
  }
  .start-now{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.32vw 5.32vw 4.15vw;
    margin-top: -0.65vw;
    background: url(../img/bonus_back.svg) center center no-repeat;
    z-index: 3;
    h2{
      font-size: 30px;
      font-family: $mainFont;
      color: $violet;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
      margin-top: 19px;
      letter-spacing: -0.3px;
    }
    a{
      text-decoration: none;
      font-size: 20px;
      font-family: $mainFont;
      color: $mainColor;
      background: $orange;
      padding: 25px 61px;
      border-radius: 35px;
      letter-spacing: 0.5px;

    }
  }
  .advantages-collection{
    position: relative;
  }
  .advantages-el{
    display: flex;
    align-items: center;
    position: absolute;
    max-width: 235px;
    .mob-pic{
      display: none;
      min-width: 120px;
      width: 120px;
      height: 120px;
      margin-right: 45px;
    }
    .text-opacity{
      visibility: hidden;
    }
    h4, p{
      font-family: $mainFont;
      color: $mainColor;
      font-size: 16px;
      font-weight: 400;
    }
    h4{
      font-weight: 500;
      font-size: 18px;
      color: $violet;
      margin-bottom: 4px;
      letter-spacing: -0px;
    }
    p{
      line-height: 1.45;
      letter-spacing: 0.1px;
    }
    &.el1,&.el2,&.el3{
      h4, p{text-align: right;}
    }
    &.el1{
      top: 53px;
      left: 85px;
    }
    &.el2{
      top: 52%;
      left: 9px;
      transform: translateY(-50%);
    }
    &.el3{
      bottom: 16px;
      left: 85px;
    }
    &.el4{
      top: 60px;
      right: 90px;
    }
    &.el5{
      top: 51%;
      right: 14px;
      transform: translateY(-50%);
    }
    &.el6{
      bottom:  17px;
      right: 90px;
    }
  }
}
.pic1, .pic2, .pic3{
  border-radius: 50%;
  background: url(../img/pic1.png) center center/contain  no-repeat;
}
.pic2{
  background: url(../img/pic2.jpg) center center/cover  no-repeat;
}
.pic3{
  background: url(../img/pic3.jpg) center center/cover  no-repeat;
}
.slider-nav{
  margin: 0 -3.4vw;
  .slick-slide{
    outline: 0;
    &:focus{
      outline:0;
    }
    .flexible{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 180px;
      outline:0;
      &:active{
        outline:0;
      }
      div{
        position: relative;
        top: 36px;
        width: 105px;
        height: 105px;
        transition: all .4s linear;
        //transition-delay: 0.5s;
        filter: grayscale(1) blur(0.8px);
      }
    }
    &.slick-center{
      .flexible{
        div{
          top: 0;
          border: 1px solid #e1c0f0;
          box-shadow: 0 0 0 7px #fff inset;
          transform: scale(1.68);

          filter: grayscale(0);
          
        }
      }
    }
    
  }
}
.slider-main{
  padding-bottom: 80px;
  padding-top: 150px;
  .title-block{
    margin-bottom: 58px;
    padding: 0 16vw;
    letter-spacing: -0.5px;
  }
  .slick-prev, .slick-next{
    z-index: 999;
    top:56%;
    height: 25px;
  }
  .slick-prev {
    left: 23%;
    width: 18%;
    outline: none;
    &:before{
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/arrow1.svg) center center no-repeat;
    }
  }
  .slick-next {
    right: 23%;
    width: 18%;
    outline: none;
    &:before{
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      background: url(../img/arrow2.svg) center center no-repeat;
    }
  }
}
.slider-for{
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  h2, p, h3, span{
    display: block;
    font-family: $mainFont;
    color: #464646;
  }
  h2{
    font-weight: 300;
    font-size: 24px;
    margin: 15px 0;
    letter-spacing: 0px;
  }
  p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  h3{
    font-size: 24px;
    color: $violet;
    font-weight: 500;
    margin-bottom: 5px;
  }
  span{
    font-weight: 400;
    font-size: 13px;
    color: $violet;
  }
}

.question{
  position: relative;
  padding: 80px 0 35px;
  .orange-block{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to left, #fff5bf,#fffbe3);
    clip-path: polygon(0 31%, 24% 0, 100% 100%, 0% 100%);
  }
  .container{
    width: 550px;
    box-sizing: border-box;
    z-index: 1;
    h2{
      margin-bottom: 36px;
    }
  }
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  div.input-overlay{
    position: relative;
    width: calc((100% - 10px) / 2);
    display: flex;
    flex-direction: column;
    label{
      position: absolute;
      bottom: 8px;
      left: 10px;
      font-size: 14px;
      font-family: $mainFont;
      color: red;
    }
    &:first-child{
      margin-right: 10px;
    }
  }
  div.textarea-overlay{
    width: 100%;
  }
  input, textarea{
    &.error{
      margin-bottom: 35px;
      border-color: rgba(255, 0, 0, 0.6);
    }
  }
  input{
    width: 100%;
    padding: 18px 20px 25px;
    border: 1px solid transparent;
    background: #fff;
    margin-bottom: 15px;
    font-family: $mainFont;
    color: $mainColor;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.1px;
    border-radius: 4px;
    box-shadow: 0 7px 10px rgba(152, 152, 239, 0.18);
    outline:0;
    transition: all .1s linear;
    box-sizing: border-box;
    
    &:focus{
      outline:0;
      box-shadow: 0 -3px 0 0 rgba(152,152,239,0.35);
    }
  }
  
  textarea{
    padding: 25px 20px;
    width: 100%;
    margin-bottom: 33px;
    height: 140px;
    border: 1px solid transparent;
    font-family: $mainFont;
    color: $mainColor;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: -0.1px;
    border-radius: 4px;
    box-shadow: 0 7px 10px rgba(152, 152, 239, 0.18);
    outline:0;
    &:focus{
      outline:0;
      box-shadow: 0 -3px 0 0 rgba(152,152,239,0.35);
    }
  }
  button{
    display: inline-block;
    font-family: $mainFont;
    color: $mainColor;
    font-weight: 400;
    font-size: 16px;
    padding: 25px 75px;
    background: $orange;
    border-radius: 35px;
    border: none;
    margin-bottom: 34px;
  }
  p{
    font-family: $mainFont;
    color: $mainColor;
    font-size: 30px;
    font-weight: 500;
  }
}
.start-using{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 37px 30px;
  background: #afb0ea;
  p{
    font-family: $mainFont;
    font-size: 40px;
    color: #fff;
    font-weight: 500;
  }
  a{
    display: inline-block;
    font-family: $mainFont;
    color: $mainColor;
    font-weight: 500;
    font-size: 20px;
    padding: 25px 60px;
    background: $orange;
    text-decoration: none;
    border-radius: 35px;
    margin-left: 20px;
    cursor: pointer;
  }
}
footer{
  background: #9d9ed2;
  p{
    font-family: $mainFont;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 25px 30px;
  }
}
.advantages .start-now a:hover, .registration-block button:hover, .start-using a:hover, form button:hover, header .profile-link .registration:hover{
  background: #ffcf31;
}
header .profile-link li.login:hover{
  background: #ffc130;
}
.pop-up-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(76, 77, 195, 0.6);
  z-index: 999;
  &.active{
    display: block;
  }
  .pop-up{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f2f2f2;
    border-radius: 10px;
    padding: 55px 0;
    max-width: 550px;
    .close{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 999;
      div{
        position: relative;
        transform: rotate(-45deg);
        p{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #272727;
        }
        p:first-child{
          width: 20px;
          height: 2px;
        }
        p:last-child{
          height: 20px;
          width: 2px;
        }
      }
    }
    .logo{
      width: 260px;
      height: 100px;
      background:url(../img/BitProtect_logo.svg) center center/contain no-repeat;
      margin: 0 auto;
      margin-bottom: 35px;
    }
    h3{
      font-family: $mainFont;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }
    form input{
      width: 60%;
    }
    form button{
      margin-top: 20px;
      font-size: 20px;
      font-weight: 500;
      padding: 25px 65px;

    }
    form input:first-child{
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: 1650px){
  header .profile-link li{
    padding: 15px 30px; 
  }
  .advantages {
    padding-top: 35vw;
    margin-top: -17vw;
  }
  header .main-menu li a{
    padding: 0 7px;
  }
  header .profile-link{
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1400px){
  .container{
    width: 960px;
  }
  .target .top-content svg{
    margin-top: 35%;
  }
  .target .top-content .content-text {
    width: 40%;
  }
  .target .bottom-content .content-text {
      width: 42%;
  }
  .video-section h1, .title-block, .start-using p{
    font-size: 29px;
  }
  .video-section h2, .sub-title, .advantages .start-now h2{
    font-size: 25px;
  }
  .registration-block button, .advantages .start-now a,.start-using a{
    padding: 25px 55px;
    font-size: 15px;
  }
  .advantages .start-now a{
    font-size: 19px;
  }
  .services .collection .collection-el{
    margin-bottom: 42px;
  }
  .services .collection .collection-el p{
    font-size: 21px;
  }
  .advantages .advantages-el.el1{
    top: 10px;
    left: 10px;
  }
  .advantages .advantages-el.el2 {
    top: 48%;
    left: -37px;
  }
  .advantages .advantages-el.el3{
    left: 10px;
  }
  .advantages .advantages-el.el4 {
    top: 10px;
    right: 20px;
  }
  .advantages .advantages-el.el5{
    right: -38px;
    top: 48%;
  }
  .advantages .advantages-el.el6{
    right: 20px;
  }
  .target .content-text ul{
    margin-bottom: 15px;
  }
  .target .content-text p{
    margin: 20px 0;
  }
  .target .top-content .logo-gerb-overlay .logo-gerb {
    width: 31%;
    height: 18%;
    bottom: -18%;
    left: -9%;
  }
  form button{
    padding: 25px 70px;
  }
}
@media only screen and (min-width: 1355px) and (max-width: 1450px){
  header .main-menu li{
    display: flex;
    align-items: center;
    a{
      font-size: 14px;
      padding: 0 7px;
      height: auto;
      line-height: 1.5;
      text-align: center;
    }
  }
  header .header-logo{
    width: 160px;
    margin-right: 15px;
  }
  
  header .profile-link {
    margin-left: 20px;
    li {
      padding: 15px 25px;
      a{
        font-size: 15px;
      }
    }
  }
  .services .collection .collection-el div {
    width: 135px;
    height: 135px;
  }
}
@media only screen and (max-width: 1355px){
  header .menu-block{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100px;
    right:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    transition: all .3s linear;
    z-index: -1;
    div{
      display: block;
    }
    &.menu-block-open{
      background: rgba($color: #fff, $alpha: 0.5);
      z-index: 99;
      div{
        transform: translateX(0%);
        z-index: 99;
        height: calc(100vh - 100px);
      }
    }
    .main-menu{
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      height: auto;
      li{
        padding: 15px 30px;
        width: 100%;
        height: auto;
        line-height: 0;
        &:hover{
          //background: $orange;
          &:after{
            opacity: 0;
          }
        }
        a{
          font-size: 18px;
          height: 25px;
        }
      }
    }
    .profile-link{
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin: 0;
      padding: 30px 15px;
      li{
        margin: 0 10px;
      }
      .lang{
        position: inherit;
        margin-top: 10px;
      }
    }
    div{
      padding-top: 12px;
      width: 40%;
      background:#fff;
      height: 100%;
      transform: translateX(100%);
      transition: all .3s linear;
      position: absolute;
      right: 0;
    }
  }
  header .btn-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 19px;
    width: 26px;
    margin: 0 0 0 10px;
    cursor: pointer;
    p{
        position: absolute;
        top: 0;
        left: 0;
        width: 26px;
        height: 3px;
        background: $mainColor;
        transition: 0.3s;
        transform-origin: 50% 50%;
        &.second{
            top: 8px;
        }
        &.third{
            top: 16px;
        }
    }
    &.active{
        .first{
            top: 8px;
            transform: rotate(45deg);
        }
        .second{
            opacity: 0;
        }
        .third{
            top: 8px;
            transform: rotate(-45deg);
        }
    }
}
  .registration-block{
    padding: 10vw 0 8vw;
  }
}
@media only screen and (max-width: 1200px){
  .start-using p, .title-block, .video-section h1{
    font-size: 33px;
  }
  .advantages .start-now h2, .sub-title, .video-section h2{
    font-size: 26px;
  }
}

@media only screen and (max-width: 980px){
  .container{
    width: 760px;
  }
  .services .collection{
    justify-content: center;
  }
  .services .collection .collection-el {
    width: calc(100% / 2);
  }
  .target .top-content .content-text, .target .bottom-content .content-text{
    margin: 0;
    width: 50%;
  }
  .target .top-content .logo-gerb-overlay .logo-gerb, .line-hidden{
    display: none;
  }
  .target .top-content svg{
    margin-top: 50%;
  }
  .target .bottom-content div{
    margin-top: 17%;
  }
  .orange-overlay .orange-block, .violet-overlay .violet-block{
    height: 780px;
  }
  .start-using p, .title-block, .video-section h1{
    font-size: 31px;
  }
  .advantages .start-now h2, .sub-title, .video-section h2{
    font-size: 24px;
  }
  .services .collection .collection-el div{
    width: 135px;
    height: 135px;
  }
  .services .collection .collection-el p{
    font-size: 18px;
  }
  .advantages-collection{
    display: flex;
    flex-direction: column-reverse;
    div{
      .advantages-el{
        position: inherit;
        transform: none !important;
        max-width: 100%;
        margin: 20px 0 50px;
        div:last-child{
          margin-top: 15px;
        }
        h4, p{
          text-align: left !important;
        }
      }
    }
    .advantages-overlay{
      display: none;
    }
  }
  .advantages .start-now{
    padding: 8vw;
    margin-top: 5vw;
  }
  .advantages .advantages-el p{
    font-size: 18px;
  }
  .advantages .advantages-el h4{
    font-size: 20px;
  }
  .advantages .advantages-el .mob-pic{
    display: block;
  }
}
.first-service-overflow{
  .notebook, .platforme-shadow, .man-shadow, .platform, .man, .men, .shadow-money,.point, .line, .shadow-point, .man-shadow{
    visibility: hidden;
  }
}
.second-service-overflow{
  .line, .men,  .shadow-men, .center-change, .computer, .point, .platforme-shadow, .platforme, .line-hidden, .shadow-point{
    visibility: hidden;
  }
}
.logo-gerb-overlay{
  .logo-center{
    visibility: hidden;
  }
}
.advantages-overlay{
  .platforme, .platforme-shadow, .gerb-shadow, .advantages-elem, .gerb, .line{
    visibility: hidden;
  }
 
}

@media only screen and (max-width: 768px){
  .container{
    width: 560px;
  }
  .pop-up-overlay{
    .pop-up {
      padding: 35px 0;
      max-width: 90%;
      form input{
        width: 80%;
      }
      h3{
        font-size: 27px;
      }
      .logo{
        width: 150px;
        height: 60px;
      }
    }
  }
  .advantages .advantages-el .text-opacity{
    visibility: visible;
  }
  .target .main-content .top-content{
    flex-direction: column-reverse;
  }
  .target .main-content .bottom-content{
    flex-direction: column;
  }
  .target .bottom-content .content-text, .target .top-content .content-text, .target .top-content .logo-gerb-overlay, .target .bottom-content div{
    width: 100%;
  }
  .target .top-content svg, .target .bottom-content div{
    margin-top: 50px;
  }
  .target .bottom-content div{
    margin-bottom: 50px;
  }
  .orange-overlay .orange-block, .violet-overlay .violet-block{
    height: 800px;
    width: 70%;
    top: 25%;
  }
  .start-using p, .title-block, .video-section h1{
    font-size: 27px;
  }
  .advantages .start-now h2, .sub-title, .video-section h2 {
    font-size: 21px;
  }
  .registration-block {
    padding: 13vw 0;
  }
  .question .orange-block{
    width: 97%;
  }
  .start-using p, .title-block{
    font-size: 23px;
  }
  .services .collection .collection-el{
    margin-bottom: 35px;
  }
  header .menu-block div{
    width: 80%;
    
  }
  header .menu-block .main-menu {
    height: auto;
    li{
    height: auto;
    line-height: 16px;
    width: 100%;
    padding: 0;
    a{
      padding: 15px 30px;
      margin: 0;
      height: 100%;

    }
  }
}
header .menu-block div{
  height: calc(100vh - 100px);
    box-sizing: border-box;
}
header .menu-block.menu-block-open{
  position: fixed;    
  bottom: 0;
  left: 0;
  height: auto;
  &>div{
    overflow-y: auto;
  }
}
header .menu-block .profile-link{
  padding: 20px 30px;
}
  .first-service-overflow{
    .notebook, .platforme-shadow, .man-shadow, .platform, .man, .men, .shadow-money,.point, .line, .shadow-point, .man-shadow{
      visibility: visible;
    }
  }
  .second-service-overflow{
    .line, .men,  .shadow-men, .center-change, .computer, .point, .platforme-shadow, .platforme, .line-hidden, .shadow-point{
      visibility: visible;
    }
  }
  .logo-gerb-overlay{
    .logo-center{
      visibility: visible;
    }
  }
  .advantages-overlay{
    .platforme, .platforme-shadow, .gerb-shadow, .line, .advantages-elem, .gerb{
      visibility: visible;
    }
  }
  .slider-main .slick-prev{
    left: 10px;
    width: 30%;
    height: 45px;
    overflow: hidden;
  }
  .slider-main .slick-prev:before{
    position: ABSOLUTE;
    width: 150%;
    top: -5px;
    right: -80%;
  }
  .slider-main .slick-next {
    right: 10px;
    width: 30%;
    height: 45px;
    overflow: hidden;
  }
  .slider-main .slick-next:before{
    position: absolute;
    width: 150%;
    top: -5px;
    left: -80%;
  }
  .video-section h1{
    padding: 0 0 25px;
  }
}
@media only screen and (max-width: 570px){
  .container{
    width: 90vw;
  }
  .question .container{
    width: 300px;
  }
  .start-using{
    flex-direction: column;
    justify-content: center;
    p{
      text-align: center;
      margin-bottom: 30px;
    }
    a{
      margin: 0;
    }
  }
  header .menu-block div{
    width: 100%;
  }
  header .menu-block .profile-link{
    flex-direction: column;
    align-items: flex-start;
    li{
      margin: 10px 0;
    }
  }
  .orange-overlay .orange-block, .violet-overlay .violet-block {
    height: 600px;
    width: 100%;
    top: 22%;
  }
  .start-using p, .title-block{
    font-size: 21px;
  }
  .sub-title, .video-section h2{
    font-size: 19px;
  }
  .advantages .start-now h2{
    font-size: 17px;
  }
  .advantages .start-now a, .registration-block button, .start-using a {
    padding: 20px 45px;
  }
  .services .collection .collection-el{
    width: 100%;
  }
  .services .collection .collection-el div {
    width: 100px;
    height: 100px;
  }
  .services .collection{
    padding: 50px 0 0;
  }
  .registration-block {
      padding: 80px 0;
  }
  .advantages-collection svg {
    width: 100%;
    margin-left: 0%;
  }
  .advantages .start-now h2{
        margin: 25px 0 10px 0
  }
  .advantages .start-now a{
    padding: 16px 25px;
    margin: 5px 0;
  }
  .advantages .start-now{
    padding: 7vw 0;
  }
  .question {
    padding: 60px 0 50px;
    form button{
        padding: 25px 50px;
        margin-bottom: 25px;
   }
  }
  form p{
    font-size: 26px;
  }
  form div{
    flex-wrap: wrap;
    input{
      width: 100%;
      &:first-child{
        margin-right: 0;
      }
    }
  }
  .advantages .advantages-el{
    flex-direction: column;
    justify-content: center;
    
  }
  .advantages-collection div .advantages-el{
    .mob-pic{
      margin: 0 0 35px;
    }
    h4, p{
      text-align: center !important;
    }
  }
  .slider-main{
    padding-bottom: 60px;
    padding-top: 100px;
  }
  header .header-logo{
    width: 160px;
  }
}
@media only screen and (max-width: 440px){
  .slider-nav .slick-slide .flexible div{
    width: 80px;
    height: 80px;
  }
  .slider-nav .slick-slide.slick-center .flexible div{
    box-shadow: 0 0 0 5px #fff inset;
  }
  .slider-main .slick-prev{
    left: -10px;
  }
  .slider-main .slick-next{
    right: -10px;
  }
  .slider-main .slick-prev:before {
    position: ABSOLUTE;
    width: 175%;
    top: -5px;
    right: -102%;
}
.slider-main .slick-next:before {
  position: ABSOLUTE;
  width: 175%;
  top: -5px;
  left: -102%;
}
.pop-up-overlay{
  .pop-up {
    padding: 35px 0;
    max-width: 90%;
    form input{
      width: 85%;
      padding: 15px 15px 20px;
    }
    form button{
      width: 85%;
      padding: 20px 0;
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
    }
    h3{
      font-size: 25px;
    }
    .logo{
      margin-bottom: 30px;
    }
  }
}
}


@keyframes move-text{
  0% {transform: translateY(17%);}
  50% {transform: translateY(0);}
  100% {transform: translateY(-17%);}
}
@keyframes bitcoinMove {
  0% {transform: translateY(-2px);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(-2px);}
}
@keyframes shadow-money {
  0% {transform: translateY(0);}
  50% {transform: translateY(-4px);}
  100% {transform: translateY(0);}
}
@keyframes advantagesElem{
  0% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}
@keyframes yacht {
  0%   {opacity: 0;}
  13%  {opacity: 1;}
  26%  {opacity: 0;}
  39%  {opacity: 0;}
  42%  {opacity: 0;}
  55%  {opacity: 0;}
  67%  {opacity: 0;}
  80%  {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes car {
  0%   {opacity: 0;}
  13%  {opacity: 0;}
  26%  {opacity: 0;}
  39%  {opacity: 1;}
  42%  {opacity: 0;}
  55%  {opacity: 0;}
  67%  {opacity: 0;}
  80%  {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes house {
  0%   {opacity: 0;}
  13%  {opacity: 0;}
  26%  {opacity: 0;}
  39%  {opacity: 0;}
  42%  {opacity: 0;}
  55%  {opacity: 1;}
  67%  {opacity: 0;}
  80%  {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes money {
  0%   {opacity: 0;}
  13%  {opacity: 0;}
  26%  {opacity: 0;}
  39%  {opacity: 0;}
  42%  {opacity: 0;}
  55%  {opacity: 0;}
  67%  {opacity: 0;}
  80%  {opacity: 1;}
  100% {opacity: 0;}
}

.center-change .yacht{
  animation: yacht 10s infinite ease-in-out;
}
.center-change .car{
  animation: car 10s infinite ease-in-out;
}
.center-change .house{
  animation: house 10s infinite ease-in-out;
}
.center-change .money{
  animation: money 10s infinite ease-in-out;
}
.move-text{
  animation: move-text 5s infinite linear;
}
.move-text-two{
  transform: translateY(17%);
  animation: move-text 5s 2.5s infinite linear;
}
.first-service-overflow .bitcoin{
  animation: bitcoinMove 3s infinite linear;
}
.first-service-overflow .shadow-money{
  animation: shadow-money 3s infinite linear;
}
.advantages-overlay .advantages-elem.move{
  animation: advantagesElem 3s infinite linear;
}
.advantages-overlay .advantages-elem-two.move{
  animation: advantagesElem 3s infinite 2s linear;
}